<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/nav-styles.css">
    <title>Card</title>
</head>


<body>
    <%- include('./nav') %>
    <div class="wrapper">
        <div class="card">
            <div class="mini-box">
                <div class="inner-mini">
                    <h1>
                        <%= alien.lifeform.name %>
                    </h1>
                    <p class="info backstory"><span>Backstory:</span>
                        <%= alien.lifeform.backstory %>
                    </p>
                    <p class="info"><span>Locamotion:</span>
                        <%= alien.lifeform.locomotion %>
                    </p>
                </div>

                <div class="bottom-panel">
                    <span>Abilities</span>
                    <div class="abilities">
                        <% alien.lifeform.abilities.forEach(ability=>{%>
                            <div class="ability">
                                <%= ability.name %>
                            </div>

                            <%}) %>
                    </div>
                </div>

            </div>
            <div class="content">
                <p class="info"><span>UpperAppendageType:</span>
                    <%= alien.lifeform.upperAppendageType %>
                </p>
                <p class="info"><span>head:</span>
                    <%=alien.lifeform.head %>
                </p>
                <p class="info"><span>facial Features:</span>
                    <%=alien.facialFeatures %>
                </p>
                <p class="info"><span>mouth:</span><%=alien.lifeform.mouth %></p>
                <p class="info"><span>eyes:</span> <%=alien.lifeform.eyes %></p>
                <p class="info"><span>nose:</span> <%=alien.lifeform.nose %></p>
                <p class="info"><span>ears:</span><%=alien.lifeform.ears %> </p>
                <p class="info"><span>skin:</span> <%=alien.lifeform.skin %></p>
                <p class="info"><span>otherFeatures:</span> <%=alien.lifeform.otherFeatures %> </p>
                <p class="info"><span>Physical description:</span> <%=alien.lifeform.physicalDescription %> </p>
                <a href="#" class="comment">Leave a comment</a>
                    <a href="#" class="upvote-btn">Upvote</a>
            </div>


        </div>


    </div>
    <script src="/javascript/homepage.js"></script>
    <script src="../../controllers/api/alien-routes.js"></script>
    <script src="/javascript/upvote.js"></script>
</body>

</html>