<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/nav-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css" integrity="sha512-paVHVRRhdoOu1nOXKnqDC1Vka0nh7FAmU3nsM4n2FKxOQTeF6crMdMfkVvEsuaOXZ6oEAVL5+wLbQcule/Xdag==" crossorigin="anonymous" />
    <title>Card</title>
</head>


<body>
    <%- include('./nav') %>
    <div>
        <div class="wrapper">
            <div class="card">
                <div class="mini-box">
                    <div class="inner-mini">
                        <h1>
                            <%= alien.lifeform.name %>
                        </h1>
                        <p class="info backstory"><span>Backstory:</span>
                            <%= alien.lifeform.backstory %>
                        </p>
                        <p class="info"><span>Locamotion:</span>
                            <%= alien.lifeform.locomotion %>
                        </p>
                    </div>

                    <div class="bottom-panel">
                        <span>Abilities</span>
                        <div class="abilities">
                            <% alien.lifeform.abilities.forEach(ability=>{%>
                                <div class="ability">
                                    <%= ability.name %>
                                </div>

                                <%}) %>
                        </div>
                    </div>

                </div>
                <div class="content">
                    <p class="info"><span>Backstory:</span>
                        <%= alien.lifeform.backstory %>
                    </p>
                    <br>
                    <p class="info"><span>Physical description:</span>
                        <%=alien.lifeform.physicalDescription %>
                    </p>
                    <br>
                    <p class="info"><span>Ability Descriptions:</span></p>
                    <% alien.lifeform.abilities.forEach(ability=>{%>
                        <p class="info">
                            <span><%= ability.name %></span> - <%= ability.description %>
                        </p>
                    <%}) %>
                </div>

            </div>
            <form class="comment-form">
                <div class="textarea">
                    <textarea name="comment-body" placeholder="Leave a comment"></textarea>
                </div>

                <div class="comment-btn">
                    <button type="submit">add comment</button>
                    <a href="#" class="upvote-btn upvote">Upvote</a>
                    <button type="submit" class="delete-alien-btn">Delete Alien</button>
                </div>
            </form>

            <div class="recent-comments">
                <h4 class="recent-comment-tile">Recent Comments</h4>

                <% for(let i=0; i < alien.comments.length; i++){%>
                    <br>
                    <p class="recent-comment-body">
                        -- <%= alien.comments[i].comment_text%>
                    </p>
                    <span class="date">
                        <%= alien.comments[i].user.username %> on <%= new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', day: '2-digit', month: 'long'}).format(alien.comments[i].created_at) %>
                    </span>
                    <br>
                    <% } %>


            </div>


        </div>
    </div>
        <%- include('./footer') %>
        <% if(loggedIn) { %>
            <script src="/javascript/homepage.js"></script>
            <script src="/javascript/upvote.js"></script>
            <script src="/javascript/comment.js"></script>
            <script src="/javascript/delete-alien.js"></script>
            <script src="https://kit.fontawesome.com/0cb0e7b636.js" crossorigin="anonymous"></script>
            <%}%>
        
</body>

</html>