<% aliens.forEach(alien=>{%>
    <div class="card-figure">
        <div class="top-panel">
            <h1>
                <%= alien.name %>
            </h1>
            <p class="info"><span>backstory:</span>
                <%= alien.backstory %>
            </p>
            <p class="info"><span>locamotion:</span>
                <%= alien.locomotion %>
            </p>
        </div>
        <div class="bottom-panel">
            <span>abilities</span>
            <div class="abilities">
                <% for(let i=0; i< alien.length; i++){%>
                    <div class="ability">
                        <%= alien.abilities[i].name %>
                    </div>
                    <div class="ability">
                        <%= alien.abilities[i].name %>
                    </div>
                    <div class="ability">
                        <%= alien.abilities[i].name %>
                    </div>
                    <%} %>

            </div>
        </div>
    </div>
    <%}) %>